<!doctype html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">


  <title>Status Page Check</title>
  <style>
    .container {
      margin-top: 30px;
    }

    .summary-item {
      padding: 0.3em;
      display: inline-block;
      width: 32%;
      font-weight: 500;
      text-align: center;
    }

    .summary {
      width: 20%;
      float: right;
    }

    .service {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
      {% for page, svc_statuses in results.items() %}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{ page.lower() }}">
          <div class="panel-title" style="display:inline-block;">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ page.lower() }}"
              aria-expanded="false" aria-controls="collapse{{ page.lower() }}">
              {{ page.upper() }}
            </a>
          </div>
          <div class="summary">
            <div class="summary-item bg-success">{{ svc_statuses["success"] }}</div>
            <div class="summary-item bg-warning">{{ svc_statuses["warning"] }}</div>
            <div class="summary-item bg-danger">{{ svc_statuses["error"] }}</div>
          </div>
        </div>
      </div>
      <div id="collapse{{ page.lower() }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          {% for svc, svc_status in svc_statuses["services"].items() %}
          <div class="row">
            <div class="col-md-6">{{ svc }}</div>
            <div class="col-md-6 service bg-{{ status_background_style(svc_status) }}">{{ svc_status }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
</body>
